/*Header*/
body{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.notice{
  text-align: center;
  font-size: 20px;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 350px;
  height: 140px;
}
/*nav menu for country*/
#country{
  margin-left: 40px;
}

.list{
  margin-left: 10px;
  border: 10px;
  letter-spacing: 2px;
  padding: 3px 4px;/*8px=bottom + top, 12px= right + left*/
  cursor: pointer;
  border-radius: 1px solid;
}

/*nav menu for all*/
nav ul{
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav{
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  width: 100%;
  flex: 1;
}

/*cart icon*/
#cart{
  width: 23px;
  margin-bottom: 0px;
  display: inline-block;
}

.link{
  float: right;
  margin-right: 40px;
}

.navMenu{
    display: flex;
    align-items: center;
    background: grey;
  color: white;
}

.navMenu ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
nav{
  background: grey;
}
.navMenu ul li{
  display: inline-block;
  line-height: 40px;
  text-align: center;
  padding-top: 5px;
  font-size: 15px;
  color: white;
  letter-spacing: 2px;
}
.navMenu li a{
  color: white;
  text-decoration: none;
  padding-right: 5px;
}
.navMenu li:hover a{
  background-color: #D4D4D4;
    color: #778899;
    padding: 5px;
    padding-top: 15px;
    text-decoration: none;
}

/*Main*/

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:active {
  color: black;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

/*shoe and handbags list page link*/
.SH{
 margin: 20px 30px;
 letter-spacing: 1px;
}
.SH a, .List a{
 text-decoration: none;
 color:#336;
}

/*x jadi hover..try lagi*/
.SH a:hover, #title a: hover{
 color:cadetblue;
}

#iconn{
    width:40px; 
    margin-left:20px;
    cursor: pointer; }


/* Create two equal columns that floats next to each other */
.columnbag {
  float: left;
  width: 50%;
  padding: 30px;
}

/* Clear floats after the columns*/
.rowbag:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the buttons*/
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.responsive {
  width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*footer*/

#footer{
  margin: 50px 20px;
}
#footer a{
  text-decoration: none;
  color: whitesmoke;
}
#footer a:hover{
  text-decoration: underline;
}
#footer img{
  margin-right: 10px;
  margin-bottom: 5px;
}
